/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/*
  Setting the type to major second modular scale
  http://www.modularscale.com/?1&em&1.067&web&text

*/

/* ===== BASE STYLES ===== */
html {
  font-size: 1em; /* 16 px */
  line-height: 1.5em; /* 24px / 16px = 1 gridline*/
  padding: .5em; /* 24px / 16px = 1 gridline, 8px / 16x */
  background-color:#404244;
  color:#1E75FA;
}

h1 {
  font-size: 1.602em;
  padding-bottom: .5em;
  padding-top: .5em;
  text-align: center;
}

h2 {
  font-size: 1.424em;
  padding-bottom: .5em;
  padding-top: .5em;
}

p {
  font-size: 1.125em;
  padding-left: .5em;
  padding-right: .5em;
}

h3 {
  font-size: 1.424em;
  padding-bottom: .5em;
  padding-top: .5em;
}

ol {
  list-style-type: decimal;
  padding-left: 1em;
}

/* ==== MODULAR STYLES === */

#label {
  padding-left: 1em;
  text-align: center;
}

/* ===== LAYOUT STYLES ===== */

img, photo {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
 }

/* ===== STATE STYLES ===== */

  @media screen and (min-width: 20em) {
  #copyright{
    text-align: center;
  }
}

  @media screen and (min-width: 37.5em) {
  body h2 {
    text-align: center;
  }
  p {
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
  }
}

  @media screen and (min-width: 50em) {
  body {
    background-color:#A9A9A9;
    color: #000000;
  }

  p {
    padding-left: 8em;
    padding-right: 8em;
    text-align: center;
  }
}

