a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable*/
/*keeping this here as a ready link to every other file
/*LAST THING GO BACK IN AND ADD THE MATH FOR THE PADDING*/

/*<link rel="stylesheet" href="screen.css"  type="text/css" />*/
/*REMEMBER TO GO BACK AND DO MODULAR SCALING*/
/* ---------Modular Scaling Fonts---------
GOLDEN RATIOS with golden scalings 
2.33==========37.2pixels--Rounding-->2.3125em--37pixels
1.942=========31.1pixels--Rounding-->1.9375em--31pixels
1.618=========25.9pixels--Rounding-->1.6188em--26pixels
1.348=========21.6pixels--Rounding-->1.6250em--21pixels
0.833=========13.3pixels--Rounding-->0.8125em--13pixels
 */

/* Padding and remeber to show the reasoning so Im going with 7% */
/* 35pixels / 500 pixels = 7% padding*/
/*35 pixels is roughly 2.1875 ems  top and bottom*/
/*Side padding is going to have the padding of the theme*/
/*1.618ems padding is keeping with my modular scaling theme of golden ratios */
/* ===== BASE STYLES ===== */
/*gonna go times new roman with a big meaty font for eye catching and 
nostalgia */
 body{
	font-size: 1.348em;
	font-family: "Times New Roman", Times, serif;
	padding: 2.1875em 1.618em 2.1875em 1.618em;
	color:#FAEE83;
	background-color:#CD0312;
	
	line-height: 1.50em;
	padding-top: 0.875em;
	background: repeating-linear-gradient(
  to right,
  #FAEE83,
  #C12105 0.8em,
  #222 3.2em,
  #222 3.0em
);
	
/*okay so I just found out that i had to do a modular scale, so Im resizing everything into the GOLDEN RATIO! 1.61803398875....ems of course*/
}
/*h1 is bread and butter for large dominating title text */
  h1{
text-align:center;
text-decoration:underline;

font-size:2.33em;

}

/*h2 is my main topics title font */
  h2{line-height: 1.618em;
     font-size:1.618em;
     text-decoration:underline;
     text-transform:uppercase;
     color: #FAEE83;
     background-color:#222;
     opacity:0.9;

  }
/*h6 is my invisible text, always match the background color*/
  h6{
	font-size:0.833em;
     	color:#CD0312;
	background-color:#CD0312;
opacity:0.4;
}

  h1{
background-color:#111;
font-size:2.33em;

}
/*fixing these headers*/
  h4{  
     font-size:1.348em;
     text-decoration:underline;
     opacity:0.9;
     color:#FAEE83;
     background-color:#222;
}
  ul {
	padding-right: 1.07em;
	padding-left:1.075882em;
   	padding-bottom: 0.705882em; /* 12px */
   	background-color:#222;
   	list-style-type: square;
        list-style-position:inside;
   	color: #E7C103;
opacity:0.95;
	
 }


  li a {
    display: block;
    color: #E7C103;
    text-align: center;
    padding: 0.875em 1em;
    text-decoration: none;
    
background-color:#222;
    
}
  li a:hover {
    background-color: #111;
    
    
}
  p{
font-size:0.8333em;
	display: block;
    color: #E7C103;
			background-color:#222;
				opacity:0.9;
					padding: 0.833em 2.1875em 0.833em 2.1875em;
}
/*Links especially with this dark background must be recolored*/

/*these are unvisited links*/
  a:link{
display:block;
color:#FAEE83;
background-color:#222;
}
/*these links have been visited*/
  a:visited{
display:block;
color:#CD0312;
background-color:#222;
}

  video {
    display: block;
    
    width:80%;
    height:auto;
    padding: 2.3215em 1.618em 2.3215em 1.618em;
}
  img{

}

/*This will pad the very bottom from the text to the frame*/
